* {
  font-family: Poppins, sans-serif;
}

.showcase-two {
  display: flex;
  flex-wrap: nowrap;
}

header .logo {
  font-size: 1.4em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  margin-top: 1.5rem;
  text-transform: uppercase;
}

.logo-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 15px solid #0073c9;
}

.header-two {
  width: 100%;
  height: 70px;
  background-color: #0073c9;
}

.home-header {
  position: absolute;
  top: 0;
  right: 3px;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url("https://i.ibb.co/HrfVRcx/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  border: none;
}

button.toggle.active {
  background: url("https://i.ibb.co/rt3HybH/close.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
  border: none;
}

button.button-toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url("https://i.ibb.co/HrfVRcx/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  border: none;
}

button.button-toggle.active {
  position: relative;
  width: 60px;
  height: 60px;
  background: url("https://i.ibb.co/HrfVRcx/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  border: none;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

h2.never {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3.sea {
  margin-top: 0;
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.explore {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 3rem;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  cursor: pointer;
}

.explore:hover {
  letter-spacing: 6px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-click-two,
.list-click,
.fish-click {
  text-decoration: none;
  color: white;
}

.menu-toggle {
  position: relative;
  overflow: hidden;
  visibility: hidden;
}

.menu-toggle ul li {
  list-style: none;
  margin-top: 1rem;
  border: 1px solid black;
  padding: 0.3rem 0.5rem;
  width: 160px;
  text-align: center;
}

.menu-toggle ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #111;
}

.menu-toggle ul.open {
  visibility: visible;
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.menu ul {
  position: relative;
  overflow: hidden;
  visibility: hidden;
}

.menu ul li {
  list-style: none;
  margin-top: 1rem;
  border: 1px solid black;
  padding: 2rem;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.menu ul.open {
  visibility: visible;
}

.first-row {
  margin-top: 3rem;
}

.intro-video-div {
  background-color: #0e345a;
  width: 100%;
  height: 100%;
}

.intro-video {
  width: 100%;
}

h2.fish-head {
  margin-left: 2.2rem;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 0;
}

p.quote {
  font-size: 1.5rem;
}

.background-color {
  background-color: #0e345a;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

figcaption {
  margin-left: 2.2rem;
}

.aquatic-life {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
}

.fish-cards {
  width: 100%;
  background-color: #f2f2f2;
  justify-content: center;
}

.fish-card {
  width: 100%;
  height: 500px;
  margin-bottom: 1rem;
  border: 1px solid rgb(199 199 199);
  border-radius: 0.25rem;
  box-shadow: 0 6px 6px -4px rgb(0 0 0 / 30%);
  background-color: #f4f4fa;
}

.fish-card-image {
  height: 281.8px;
}

.fish-card-image > img {
  width: 100%;
  height: 100%;
  background-color: rgb(210 210 210);
  object-fit: contain;
}

.fish-name {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 3rem;
}

.learn-more-card {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.learn-text {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  background-color: black;
  margin-top: 1rem;
  padding: 1rem;
}

.fish-list,
.result-list {
  list-style-type: none;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
}

ul.fish-list > li,
ul.result-list > li {
  display: inline-block;
  width: 100%;
}

ul.fish-list > li::after,
ul.result-list > li::after {
  cursor: pointer;
}

ul.result-list > li.hidden {
  display: none;
}

ul.result-list > li.view {
  display: block;
}

div.title-div {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  background-color: #018a99;
  height: 5rem;
}

p.title {
  font-size: 1.5rem;
  color: white;
}

.fish-div {
  margin-top: 2rem;
  width: 400px;
  height: 300px;
}

img.fish-img {
  width: 100%;
  height: 100%;
  background-color: white;
}

.angle-left,
.angle-right {
  color: orange;
}

.angle-left > i,
.angle-right > i {
  position: relative;
}

.fa-angle-left {
  top: 150px;
  left: 293px;
}

.fa-angle-right {
  top: 150px;
  right: 89px;
}

.press-like {
  text-align: center;
  font-size: 1.7rem;
  position: relative;
  left: 8px;
  top: 50px;
  font-style: italic;
}

.like {
  margin: 0;
  padding-top: 1rem;
}

img.fish.blue {
  position: relative;
  right: 80px;
  bottom: 24px;
  width: 100%;
}

img.fish.orange {
  position: relative;
  right: 80px;
  top: 0;
  margin-bottom: 3rem;
  width: 100%;
}

div.table-row {
  margin-top: 2rem;
  margin-bottom: 3rem;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin-left: 9.5rem;
  margin-right: 9.5rem;
  border: 2px solid #2085c5;
  border-top: 10px solid #2085c5;
  width: 800px;
}

tr {
  height: 80px;
}

th {
  width: 30%;
  font-size: 1.2rem;
}

td {
  width: 70%;
  border: none;
  padding: 20px;
  margin: 0;
  font-size: 1.1rem;
}

td.no-li {
  padding: 20px;
}

td.location-li,
td.biology-li {
  padding: 0 0 20px;
}

tr:nth-child(odd) {
  background-color: #d9eaec;
}

td.scientific-name {
  font-style: italic;
}

ul.fish-location-list,
ul.fish-biology-list {
  margin: 0;
  padding: 0;
}

ul.fish-location-list > li,
ul.fish-biology-list > li {
  margin: 0;
  padding: 20px 27px 0 22px;
  list-style: none;
  background-image: url("../images/orange.png");
  background-repeat: no-repeat;
  background-position: 1px 1.4em;
  background-size: 13px;
}

div.list-button-div {
  justify-content: center;
  display: flex;
  margin-bottom: 3rem;
}

ul.fish-location-list > p {
  padding-left: 20px;
}

td.biology-li > ul > li > ul > li > ul {
  margin: 0;
  padding: 20px 27px 0 22px;
  list-style: none;
  background-image: url("../images/orange.png");
  background-repeat: no-repeat;
  background-position: 1px 1.4em;
  background-size: 13px;
}

td.biology-li > ul ul > li {
  margin: 0;
  padding: 20px 27px 0 22px;
  list-style: none;
  background-image: url("../images/orange.png");
  background-repeat: no-repeat;
  background-position: 1px 1.4em;
  background-size: 13px;
}

button.back-to-list {
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 20px;
  border-style: none;
  background-color: #0073c9;
  color: white;
}

button.back-to-list:hover {
  cursor: pointer;
  background-color: #c4ff02;
  color: red;
}

div.search-input {
  display: flex;
  justify-content: center;
}

input.search-input {
  width: 100%;
  height: 40px;
  border: 3px solid #0073c9;
  font-size: 1.5rem;
  text-align: center;
}

input.search-input:focus {
  border: 1px solid yellow;
}

.search-button {
  width: 60px;
  height: 40px;
  border: none;
  background-color: white;
}

.no-result {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1.5rem;
}

div.fish-image-row {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

p.like {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

span.red-heart {
  color: red;
}

figure {
  margin: 3rem 0;
}

.column-fifth-eights {
  width: calc(500% / 8);
}

li.nav {
  display: inline-block;
  margin-right: 1rem;
}

ul.menu-two {
  display: flex;
  justify-content: end;
  list-style-type: none;
  margin-top: 1.5rem;
  padding-left: 0;
}

@media only screen and (min-width: 300px) and (max-width: 370px) {
  a.search-click-two {
    margin-right: 0.4rem;
  }

  i.fa-angle-right {
    left: 9px;
  }

  i.fa-angle-left {
    left: 23px;
  }

  li.nav {
    font-size: 0.9rem;
  }

  .logo-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid #0073c9;
  }

  a.serch-click-two {
    margin-right: 1rem;
  }

  header .logo {
    font-size: 1rem;
  }

  .text {
    right: 15px;
  }

  .text h2 {
    font-size: 3em;
  }

  .text h3 {
    font-size: 2em;
  }

  .column-half {
    width: 100%;
  }

  .show-case {
    width: 100%;
    position: relative;
    right: 0;
    height: 100%;
  }

  img.fish.blue {
    right: 0;
    bottom: 0;
    top: 49px;
  }

  img.fish.orange {
    right: 0;
    bottom: 0;
    top: 60px;
  }
}

@media only screen and (min-width: 371px) and (max-width: 414px) {
  li.nav {
    margin-right: 1rem;
  }

  a.search-click-two {
    margin-right: 0.4rem;
  }

  .logo-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid #0073c9;
  }

  .home-header {
    position: absolute;
    right: 25px;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
  }

  .text {
    position: relative;
    z-index: 10;
    right: 30px;
  }

  .column-half {
    width: 100%;
  }

  .column-one-third, {
    width: 100%;
  }

  .column-one-eights {
    width: 10%;
  }

  .column-one-fourth {
    width: 20%;
  }

  .column-different {
    width: 36.2%;
  }

  .fish-column {
    padding: 0;
  }

  header .logo {
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
  }

  .text h2 {
    font-size: 3.5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .text h3 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
  }

  button.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    border: none;
    left: 50px;
  }

  .menu-toggle ul li {
    list-style: none;
    margin-top: 1rem;
    padding: 0.3rem;
    width: 150px;
    text-align: center;
    padding-top: 3rem;
    border: none;
  }

  .menu-toggle ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
  }

  .menu-toggle ul.open {
    margin: 0 2.5rem 0 0;
  }

  .intro-video-div {
    background-color: #0e345a;

    /* width: 352px;
    height: 199px; */
    width: 100%;
    height: 100%;
  }

  .intro-video {
    width: 100%;
  }

  p.quote {
    font-size: 1.2rem;
    text-align: center;
  }

  h2.fish-head {
    font-size: 3rem;
    margin: 0;
    text-align: center;
  }

  ul.fish-list > li,
  ul.result-list > li {
    width: 254px;
    margin-left: 7px;
  }

  .column-angle-div {
    width: 100%;
  }

  .fish-div {
    height: 200px;
    width: 260px;
  }

  .fa-angle-left {
    top: 113px;
    left: 40px;
  }

  .fa-angle-right {
    top: 113px;
    left: 16px;
  }

  .column-half.press-like-div {
    background-color: white;
    width: 100%;
  }

  .column-one-fourth.fish-icon-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .column-one-third.fish-icon-div {
    width: 100%;
    margin-top: 30px;
  }

  div.fish-image-row {
    justify-content: center;
  }

  div.fish-icon {
    text-align: center;
  }

  img.fish.blue {
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
  }

  img.fish.orange {
    right: 0;
    bottom: 0;
    left: 0;
    top: 30px;
    margin-bottom: 3.5rem;
    width: 100%;
  }

  div.press-like {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 30px;
  }

  .like {
    padding-top: 0;
  }

  table {
    margin-left: 0;
    margin-right: 0;
    width: 88%;
  }

  div.table-row {
    margin-top: 4rem;
    justify-content: center;
  }

  .aquatic-life {
    font-size: 2rem;
  }

  input.search-input {
    width: 300px;
    height: 50px;
  }

  .first-row {
    margin-top: 3rem;
  }

  .fish-card {
    width: 100%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1024px) {
  h2.fish-head {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1112px) {
  h2.fish-head {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1113px) and (max-width: 1366px) {
  h2.fish-head {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  h2.fish-head {
    font-size: 5rem;
  }
}
